@import '../assets/scss/main.scss';

.navbar {
  position: fixed;
  padding: 0;
  width: 100%;
  z-index: 9;
}
.navbar-content {
  position: relative;
  line-height: 1.5;
  z-index: 5;
  padding: 15px 30px;
  @include lg {
    padding: 15px 50px;
  }
}
.navbar-pc {
  display: none;
  color: #084a4c;
  @include lg {
    display: block;
    width: 60%;
    li {
      width: 100%;
      padding: 8px 12px;
      text-align: center;
      span {
        cursor: pointer;
      }
    }
  }
}
.navbar-img {
  position: absolute;
  z-index: 3;
  top: 0;
  width: 100%;
  height: 10vh;
  img {
    width: 100%;
    height: 10vh;
    transition: ease all 0.5s;
    @include lg {
      width: 100%;
      height: 240px;
    }
  }
}
.navbar-logo {
  width: 170px;
  img {
    width: 100%;
  }
  @include lg {
    margin-right: 15px;
    width: 50px;
  }
}
.navbar-logo-mb {
  display: block;
  @include lg {
    display: none;
  }
}
.navbar-logo-pc {
  display: none;
  @include lg {
    display: block;
  }
}
.icon-hamburger {
  display: block;
  font-size: 2.4rem;
  color: $font-primary;
  cursor: pointer;
  @include lg {
    display: none;
  }
}
.navbar-wallet {
  padding-top: 10px;
  display: none;
  width: 4rem;
  height: auto;
  img {
    width: 100%;
  }
  @include lg {
    display: block;
  }
}
