@import '../assets/scss/main.scss';

.navbar {
  position: fixed;
  padding: 0;
  width: 100%;
}

.navbar-img {
  img {
    position: fixed;
    width: 100%;
    height: auto;
    transition: ease all 0.5s;
    @include pc {
      width: 100%;
      height: 240px;
    }
  }
}
.navbar-logo {
  width: 170px;
  img {
    width: 100%;
  }
}
.icon-hamburger {
  font-size: 2rem;
  color: $font-primary;
}
